:root {
    --primary-yellow: #fed003;
    --primary-yellow-20: #d1ae11;

    --ui-gray-linear-100: linear-gradient(110.94deg, #383838 -10.01%, #1b1b1b 105.54%);
    --ui-gray-linear-40: linear-gradient(322.56deg, rgba(0, 0, 0, 0.4) 1.5%, rgba(36, 36, 36, 0.4) 101.12%), #343434;
    --ui-gray-linear-30: linear-gradient(318.96deg, rgba(0, 0, 0, 0.3) -1.9%, rgba(36, 36, 36, 0.3) 105%), #343434;
    --ui-gray-100: #202020;
    --ui-gray-80: #676767;
    --ui-input: #2b2b2b;
    --ui-yellow: #fed003;
    --ui-gray-gradient: linear-gradient(124.53deg, #ffffff -7.58%, rgba(255, 255, 255, 0) 121.06%);
    --ui-white: #fff;
    --ui-red: #c97473;
    --ui-success: #a9dd6f;

    --bg-dark: #171717;
    --bg-white: #fff;

    --text-gray: #171717;
    --text-gray-80: #4a4949;
    --text-gray-60: #8e8e8e;
    --text-yellow: #fed003;
    --text-white: #ffffff;
    --text-gray-gradient: linear-gradient(124.53deg, #ffffff -7.58%, rgba(255, 255, 255, 0) 121.06%);
    --text-dark-gradient: linear-gradient(124.53deg, #2c2929 -7.58%, #634747 121.06%);

    --filter-shadow: drop-shadow(-41.6667px -41.6667px 83.3333px rgba(51, 51, 51, 0.4)),
        drop-shadow(13.8889px 13.8889px 55.5556px rgba(0, 0, 0, 0.6));
    --shadow-yellow: 0 0 10px var(--primary-yellow-20);
    --shadow-inset: inset 8px 8px 8px rgba(0, 0, 0, 0.25), inset -8px -8px 8px #2c2a2a;
    --shadow-primary: 0px 6px 16px 0px rgba(235, 192, 5, 0.37);
    --shadow-dark: 11px 11px 35px 0px rgba(0, 0, 0, 0.25), -5px -5px 22px 0px rgba(0, 0, 0, 0.25);
}

.color_mode {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    background: var(--ui-gray-100);
    width: 0px;
    min-width: 72px;
    height: 40px;
    border-radius: 32px;
    cursor: pointer;
    filter: var(--filter-shadow);
    padding: 10px;
    &__moon {
        width: 20px;
        height: 20px;
        display: block;
        background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M0.486681 11.3901C0.691277 11.339 0.895874 11.3901 1.07489 11.518C1.73983 12.0806 2.50706 12.541 3.35102 12.8479C4.14383 13.1547 5.01336 13.3082 5.93404 13.3082C8.00558 13.3082 9.89809 12.4642 11.2535 11.1088C12.609 9.75334 13.4529 7.86083 13.4529 5.7893C13.4529 4.91977 13.2995 4.07581 13.0437 3.30857C12.7624 2.49019 12.3532 1.74853 11.8162 1.10917C11.586 0.82785 11.6371 0.418659 11.9185 0.188488C12.0975 0.0606161 12.3021 0.00946713 12.5067 0.0606161C14.6805 0.648829 16.573 1.95313 17.9285 3.69219C19.2328 5.40568 20 7.52836 20 9.83006C20 12.6177 18.8747 15.1496 17.0334 16.9909C15.192 18.8323 12.6857 19.9576 9.87251 19.9576C7.51966 19.9576 5.34583 19.1392 3.60677 17.7837C1.84213 16.4027 0.563406 14.4335 0.0263424 12.1829C-0.0759563 11.8249 0.128639 11.4668 0.486681 11.3901Z' fill='%23676767'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='20' height='20' fill='white' transform='matrix(-1 0 0 1 20 0)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A")
            center no-repeat;
        margin-left: auto;
        transform: translate(0px, 0);
        transition: 0.5s;
    }
    &__sun {
        width: 20px;
        height: 20px;
        display: block;
        border-radius: 50%;
        background: var(--primary-yellow);
        transition: 0.5s;
        transform: translate(-50px, 0);
    }
    &__star {
        transition: 0.5s;
        position: absolute;
        width: 4px;
        height: 4px;
        background: url("data:image/svg+xml,%3Csvg width='4' height='4' viewBox='0 0 4 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.98954 1.5343C3.9632 1.4533 3.89136 1.39596 3.80671 1.3883L2.65202 1.28347L2.19569 0.21509C2.162 0.136598 2.08533 0.0859375 2.00001 0.0859375C1.91468 0.0859375 1.83798 0.136598 1.80451 0.21509L1.34817 1.28347L0.193304 1.3883C0.108647 1.39611 0.0369598 1.45345 0.0104701 1.5343C-0.015867 1.61529 0.00845592 1.70413 0.0724829 1.76028L0.945331 2.52565L0.687972 3.65915C0.669142 3.74249 0.701491 3.82868 0.770645 3.87866C0.807816 3.90567 0.851488 3.91916 0.895312 3.91916C0.932971 3.91916 0.970661 3.90915 1.00432 3.88901L2.00001 3.29366L2.99551 3.88901C3.06854 3.93265 3.16036 3.92865 3.22937 3.87866C3.29852 3.82868 3.33087 3.74249 3.31204 3.65915L3.05468 2.52565L3.92753 1.76028C3.99152 1.70413 4.01588 1.61547 3.98954 1.5343Z' fill='%23484343'/%3E%3C/svg%3E%0A")
            center no-repeat;
        &:nth-of-type(1) {
            top: 11px;
            left: 17px;
        }
        &:nth-of-type(2) {
            bottom: 11px;
            left: 28px;
        }
    }
    &__circle {
        transition: 0.5s;
        position: absolute;
        width: 2px;
        height: 2px;
        border-radius: 50%;
        background: #484343;
        &:nth-of-type(3) {
            bottom: 15px;
            left: 13px;
        }
        &:nth-of-type(4) {
            top: 17px;
            left: 28px;
        }
        &:nth-of-type(5) {
            top: 10px;
            left: 36px;
        }
    }
    input:checked ~ .color_mode {
        &__moon {
            transform: translate(50px, 0);
        }
        &__sun {
            transform: translate(0px, 0);
        }
        &__star {
            opacity: 0;
            transform: scale(0);
        }
        &__circle {
            &:nth-of-type(3) {
                bottom: 10px;
                left: 49px;
            }
            &:nth-of-type(4) {
                top: 19px;
                left: 39px;
            }
            &:nth-of-type(5) {
                top: 10px;
                left: 50px;
                width: 6px;
                height: 6px;
            }
        }
    }
}

.dark_mode {
}

.light_mode {
}
