/*fonts*/
@font-face {
	font-family: "Font";
	src: url("../fonts/Font/Font-Weight.eot"), url("../fonts/Font/Font-Weight.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Font/Font-Weight.woff2") format("woff2"), url("../fonts/Font/Font-Weight.woff") format("woff"),
		url("../fonts/Font/Font-Weight.ttf") format("truetype");
	font-weight: 400;
}
