/*fonts*/
@font-face {
	font-family: "FontName";
	src: url("../fonts/FontName/FontName.eot");
	src: local("Gotham Light Italic"), local("Gotham-LightItalic"),
		url("../fonts/FontName/FontName.eot?#iefix") format("embedded-opentype"),
		url("../fonts/FontName/FontName.woff2") format("woff2"), url("../fonts/FontName/FontName.woff") format("woff"),
		url("../fonts/FontName/FontName.ttf") format("truetype");
}
