.footer {
	padding-top: 30px;
	padding-bottom: 55px;
	background: #181D24;
	align-items: center;
	justify-content: space-between;
	display: flex;
	&_nav {
		display: flex;
		li {
		list-style: none;
		font-size: 16px;
		margin-left: 17px;
		margin-right: 17px;
		a {
			color: #F5EAE5;
			&:hover {
				color: #B0855F;
			}
		}
		}
	}
	&_dev {
		color: #F5EAE5;
		display: flex;
		align-items: center;
		img {
			margin-right: 18px;
		}
		&:hover {
			color: #B0855F;
		}
	}
}
	