.footer {
  padding-top: 110px;
  padding-bottom: 48px;
  background: var(--primary-text);
  &__logo {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }
  &__desc {
    text-align: center;
    color: var(--about-color);
    margin-bottom: 67px;
    font-size: 18px;
    line-height: 1.5;
  }
  &__main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
  }
  &__link {
    color: var(--disabled-text);
    font-size: 16px;
    line-height: 1.9;
    text-transform: uppercase;
    &:hover {
      color: var(--secondary-text);
    }
  }
  &__panorama {
    display: flex;
    align-items: center;
    color: var(--secondary-text);
    margin-top: 20px;
    text-transform: uppercase;
    svg {
      display: block;
      margin-right: 12px;
      transition: 0.3s;
    }
    &:hover {
      color: var(--disabled-text);
      svg {
        stroke: var(--disabled-text);
      }
    }
  }
  &__title {
    color: var(--secondary-text);
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 24px;
    font-family: "Geometria", sans-serif;
  }
  &__geo,
  &__tel {
    display: block;
    font-size: 18px;
    color: var(--about-color);
  }
  &__geo {
    margin-bottom: 47px;
  }
  &__disclaimer {
    color: var(--border-main);
    margin-bottom: 35px;
    text-align: center;
    font-size: 12px;
    opacity: 0.5;
  }
  &__dev_logo {
    display: flex;
    justify-content: center;
  }
  &__column {
    &_double {
      display: flex;
    }
    &_inner {
      margin-left: 100px;
    }
  }
}

@media screen and (max-width: 1400px) {
  .footer {
    padding-top: 70px;
    padding-bottom: 40px;
    &__column {
      &_double {
        display: block;
      }
      &_inner {
        margin-left: 0;
      }
    }
    &__link {
      font-size: 11px;
    }
    &__panorama {
      font-size: 12px;
    }
    &__geo,
    &__tel {
      font-size: 14px;
    }
    &__main {
      margin-bottom: 40px;
    }
    &__logo {
      margin-bottom: 20px;
      img {
        max-width: 70px;
      }
    }
    &__desc {
      margin-bottom: 60px;
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 1100px) {
  .footer {
    padding-top: 70px;
    padding-bottom: 40px;
    &__column {
      &_double {
        .footer__links {
          display: none;
        }
      }
      &:last-of-type {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
      }
    }
    &__main {
      display: grid;
      grid-template-columns: repeat(2, auto);
      grid-template-rows: repeat(2, auto);
      grid-gap: 0 20px;
    }
    &__panorama {
      margin-top: 0;
    }
    &__title {
      margin-bottom: 15px;
    }
    &__geo {
      margin-bottom: 15px;
    }
    &__desc {
      margin-bottom: 30px;
    }
  }
}
@media screen and (max-width: 767px) {
  .footer {
    &__main {
      grid-template-columns: 1fr;
      grid-template-rows: unset;
      grid-gap: 27px;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin-bottom: 25px;
    }
    &__column {
      &:last-of-type {
        grid-column: unset;
        grid-row: unset;
      }
    }
    &__panorama {
      justify-content: center;
    }
    &__logo img {
      max-width: 40px;
    }
    &__desc {
      font-size: 12px;
    }
    &__tel,
    &__geo {
      font-size: 12px;
    }
    &__title {
      margin-bottom: 18px;
    }
    &__geo {
      margin-bottom: 16px;
    }
    &__disclaimer {
      font-size: 10px;
    }
  }
}
