* {
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  color: var(--primary-color);
}
.center {
  padding-left: calc(50vw - 580px);
  padding-right: calc(50vw - 580px);
}
img {
  display: block;
  max-width: 100%;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
