/*global*/
html {
	scroll-behavior: smooth;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}
body {
	font-family: 'Nunito', sans-serif;
	background: #FFFDFA;
	color: #181D24;
	font-size: 16px;
	min-height: 100vh;
}
button,
input,
textarea {
	color: inherit;
	transition: 0.3s;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-size: inherit;
	font-weight: 400;
}
a,
button {
	transition: 0.3s;
	text-decoration: none;
	cursor: pointer;
}
address {
	font-style: normal;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}
input[type="number"] {
	-moz-appearance: textfield;
}
.center {
	padding-left: calc(50vw - 795px);
	padding-right: calc(50vw - 795px);
}
.visually_hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
}
img,
svg {
	display: block;
	max-width: 100%;
}
svg {
	&,
	* {
		transition: 0.3s;
	}
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.hidden {
	display: none !important;
}
/*global*/

// buttons
.btn_filled {
	color: #FFFDFA;
	font-size: 16px;
	background: none;
	width: 228px;
	height: 62px;
	border: none;
	border: 1px solid #B0855F;
	position: relative;
	z-index: 5;
	&:before {
		content: "";
		display: block;
		width: 214px;
		height: 48px;
		background: #B0855F;
		transition: .3s;
		position: absolute;
		z-index: -1;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}
	&:hover {
		&:before {
			width: 220px;
		    height: 54px;
		}
		
	}
}
.btn_arrow {
	background: none;
	border: none;
	display: flex;
	align-items: center;
	svg {
		display: block;
		margin-left: 8px;
	}
	&:hover {
		color: #B0855F;
		.arrow {
			transform: translate(5px,0);
		}
	}

}
.clearfix:after{
	display: block;
	content: "";
	clear: both;
}

// buttons


@media screen and (max-width: 1200px) {
	.center {
		padding-left: calc(50vw - 360px);
		padding-right: calc(50vw - 360px);
	}
}

@media screen and (max-width: 768px) {
	.center {
		padding-left: calc(50vw - 250px);
		padding-right: calc(50vw - 250px);
	}
}
@media screen and (max-width: 515px) {
	.center {
		padding-left: calc(50vw - 185px);
		padding-right: calc(50vw - 185px);
	}
}

@media screen and (max-width: 400px) {
	.center {
		padding-left: calc(50vw - 170px);
		padding-right: calc(50vw - 170px);
	}
}

@media screen and (max-width: 355px) {
	.center {
		padding-left: calc(50vw - 150px);
		padding-right: calc(50vw - 150px);
	}
}
