/*global*/
html {
	scroll-behavior: smooth;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}
body {
	font-family: "Gotham", sans-serif;
	background: url("../img/main_bg.png") top center no-repeat var(--bg-dark);
	color: #fff;
	font-size: 16px;
	min-height: 100vh;
}
button {
	cursor: pointer;
}
button,
input,
textarea {
	color: inherit;
	transition: 0.5s;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-size: inherit;
}
a {
	transition: 0.5s;
	text-decoration: none;
	cursor: pointer;
}
address {
	font-style: normal;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}
input[type="number"] {
	-moz-appearance: textfield;
}
.center {
	padding-left: calc(50vw - 630px);
	padding-right: calc(50vw - 630px);
}
.visually_hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
}
img,
svg {
	display: block;
	max-width: 100%;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.dashboard_link {
	display: flex;
	align-items: center;
	margin-right: 49px;
	background: var(--text-gray-gradient);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	svg {
		margin-right: 8px;
	}
	&-text {
		background: var(--text-gray-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		display: inline-block;
	}
}
.hidden {
	display: none !important;
}
/*global*/

// buttons
.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	border: transparent;
	background: transparent;
	border-radius: 24px 24px 4px 24px;
	white-space: nowrap;
	min-height: 49px;
	font-weight: 500;
	transition: 0.3s;
	&_secondary {
		background: var(--ui-gray-linear-40);
		background-blend-mode: multiply;
		color: var(--text-yellow);
		background-blend-mode: soft-light, normal;
		&:hover {
			box-shadow: var(--shadow-yellow);
		}
	}
	&_primary {
		background: var(--primary-yellow);
		color: var(--text-gray);
		padding: 14px;
		svg {
			margin-right: 12px;
			min-width: 36px;
			display: block;
		}
		&:hover {
			box-shadow: var(--shadow-primary);
		}
	}
	&_dark {
		background: var(--ui-gray-linear-30);
		span {
			display: block;
			background: var(--text-gray-gradient);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-blend-mode: soft-light;
			text-transform: uppercase;
		}
		&:hover {
			box-shadow: var(--shadow-primary);
		}
	}
	&_link {
		padding: 2px 0;
		display: block;
		background: var(--text-gray-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-blend-mode: soft-light;
		text-transform: uppercase;
		min-height: unset !important;
		border-radius: 0;
		border-bottom: 1px solid rgba(256, 256, 256, 0);

		&:hover {
			border-bottom: 1px solid rgba(256, 256, 256, 0.2);
		}
	}
}
// buttons

// input
.input {
	position: relative;
	width: 100%;
	margin-bottom: 24px;
	&__field {
		display: block;
		width: 100%;
		color: var(--text-white);
		background: none;
		padding: 37px 60px 18px 24px;
		background: none;
		border-radius: 20px;
		border: 2px solid #2b2b2b;
		font-size: 14px;
		&::placeholder {
			color: #8e8e8e;
		}
		&:focus {
			border-color: var(--primary-yellow);
		}
		&--error {
			border-color: var(--ui-red);

			& ~ .input__error {
				display: block;
			}
		}
	}
	&__error {
		color: var(--ui-red);
		padding-left: 24px;
		font-size: 12px;
		margin-top: 10px;
		display: none;
	}
	&__label {
		position: absolute;
		top: 18px;
		left: 26px;
		color: var(--primary-yellow);
		text-transform: uppercase;
		font-weight: 500;
		letter-spacing: 2px;
		font-size: 10px;
		pointer-events: none;
	}
	&__toggle_pass {
		position: absolute;
		top: 50%;
		right: 24px;
		display: block;
		width: 24px;
		height: 24px;
		background: center no-repeat;
		background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M23.8991 5.87691C22.8652 7.92483 21.2266 9.65972 19.1595 10.8963L21.6972 13.434C22.0633 13.8001 22.0633 14.3937 21.6972 14.7599C21.3311 15.126 20.7375 15.126 20.3714 14.7599L17.3943 11.7827C15.9911 12.3634 14.485 12.7127 12.9375 12.8133V17.0625C12.9375 17.5803 12.5177 18 12 18C11.4822 18 11.0625 17.5803 11.0625 17.0625V12.8133C9.51489 12.7128 8.0088 12.3635 6.60564 11.7827L3.62857 14.7599C3.26243 15.126 2.6688 15.126 2.30271 14.7599C1.93666 14.3938 1.93666 13.8002 2.30276 13.4341L4.84043 10.8964C2.77333 9.65977 1.13477 7.92488 0.100806 5.87695C-0.132537 5.41472 0.0529939 4.85091 0.515181 4.61752C0.977227 4.38412 1.54127 4.56961 1.77457 5.03184C3.51354 8.47608 7.38888 10.9688 12 10.9688C16.6146 10.9688 20.488 8.47308 22.2254 5.0318C22.4592 4.56881 23.0233 4.38445 23.4848 4.61747C23.947 4.85086 24.1326 5.41472 23.8991 5.87691Z' fill='url(%23paint0_linear)'/%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='7.12635' y1='26.328' x2='27.9762' y2='0.797552' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='white'/%3E%3Cstop offset='1' stop-color='white' stop-opacity='0'/%3E%3C/linearGradient%3E%3CclipPath id='clip0'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
		border: none;
		transform: translate(0, -50%);
		&.active {
			background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M11.9999 12.8438C9.67374 12.8438 7.78125 14.7363 7.78125 17.0625C7.78125 19.3887 9.67374 21.2812 11.9999 21.2812C14.3261 21.2812 16.2186 19.3887 16.2186 17.0625C16.2186 14.7363 14.3261 12.8438 11.9999 12.8438ZM11.9999 19.4062C10.7076 19.4062 9.65621 18.3548 9.65621 17.0625C9.65621 15.7702 10.7076 14.7188 11.9999 14.7188C13.2923 14.7188 14.3436 15.7702 14.3436 17.0625C14.3436 18.3548 13.2923 19.4062 11.9999 19.4062Z' fill='url(%23paint0_linear)'/%3E%3Cpath d='M23.8991 14.8418C22.8652 12.7939 21.2266 11.059 19.1595 9.82242L21.6972 7.2847C22.0633 6.91861 22.0633 6.32503 21.6972 5.95889C21.3311 5.5928 20.7375 5.5928 20.3714 5.95889L17.3943 8.93606C15.9911 8.35533 14.485 8.00602 12.9375 7.90547V3.65625C12.9375 3.13847 12.5177 2.71875 12 2.71875C11.4822 2.71875 11.0625 3.13847 11.0625 3.65625V7.90542C9.51489 8.00597 8.0088 8.35528 6.60564 8.93602L3.62857 5.95884C3.26243 5.5927 2.6688 5.5927 2.30271 5.95884C1.93666 6.32494 1.93666 6.91852 2.30276 7.28466L4.84043 9.82238C2.77333 11.059 1.13477 12.7939 0.100806 14.8418C-0.132537 15.304 0.0529939 15.8678 0.515181 16.1012C0.977227 16.3346 1.54127 16.1491 1.77457 15.6869C3.51354 12.2427 7.38888 9.75 12 9.75C16.6146 9.75 20.488 12.2457 22.2254 15.687C22.4592 16.1499 23.0233 16.3343 23.4848 16.1013C23.947 15.8679 24.1326 15.304 23.8991 14.8418Z' fill='url(%23paint1_linear)'/%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='10.2866' y1='7.63235' x2='22.722' y2='16.1868' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='white'/%3E%3Cstop offset='1' stop-color='white' stop-opacity='0'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear' x1='7.12635' y1='-5.6092' x2='27.9762' y2='19.9212' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='white'/%3E%3Cstop offset='1' stop-color='white' stop-opacity='0'/%3E%3C/linearGradient%3E%3CclipPath id='clip0'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
		}
	}
	&__google_icon {
		position: absolute;
		width: 24px;
		height: 24px;
		top: 50%;
		right: 24px;

		transform: translate(0, -50%);
		display: block;
		&.active {
			fill: #fff;
		}
	}
}
// input

// lang
.lang {
	position: relative;
	&__item {
		display: flex;
		align-items: center;
		position: relative;
		background: none;
		border: none;
		font-weight: 500;
		font-size: 12px;
		color: var(--text-white);
		&_title {
			display: block;
			margin: 0 5px;
		}
		svg {
			fill: var(--ui-yellow);
			display: block;
		}
	}
	&__list {
		display: none;
	}
}
// lang
// sidebar
.sidebar {
	width: 0;
	min-width: 220px;
	margin-right: 30px;
	&__nav_dropdown {
		display: none;
	}
	&__nav {
		list-style: none;
		a {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			padding: 14px 24px;
			color: var(--text-gray-80);
			font-size: 14px;
			font-weight: 700;
			margin-right: 8px;
			border-radius: 14px;
			border: 8px solid transparent;
			position: relative;
			&:before {
				content: "";
				display: block;
				position: absolute;
				top: 50%;
				left: 0px;
				transform: translate(-50%, -50%);
				width: 14px;
				height: 14px;
				background: var(--primary-yellow);
				box-shadow: var(--shadow-yellow);
				border-radius: 50%;
				opacity: 0;
				transition: 0.5s;
			}
			svg {
				margin-right: 8px;
			}
			path {
				transition: 0.5s;
				&.coloring_fill {
					fill: var(--text-gray-80);
				}
				&.coloring_stroke {
					stroke: var(--text-gray-80);
				}
			}
			&.active,
			&:hover {
				path {
					&.coloring_fill {
						&.yellow {
							fill: var(--primary-yellow);
						}
						&.white {
							fill: var(--text-white);
						}
					}
					&.coloring_stroke {
						&.yellow {
							stroke: var(--primary-yellow);
						}
						&.white {
							stroke: var(--text-white);
						}
					}
				}
			}
			&.active {
				color: var(--primary-yellow);
				box-shadow: 0 0 1px 1px var(--ui-gray-100), inset 0 0 1px 1px var(--ui-gray-100);
				&:before {
					opacity: 1;
				}
				&:hover {
					box-shadow: 0 0 1px 1px var(--primary-yellow-20), inset 0 0 1px 1px var(--primary-yellow-20);
				}
			}
		}
	}
}
// sidebar
// slick
.slick {
	&-slider {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		margin-bottom: 30px;
	}
	&-arrow {
		display: block;
		width: 32px;
		height: 32px;
		font-size: 0;
		color: transparent;
		color: var(--primary-yellow);
		box-shadow: 0 0 1px 1px var(--text-gray-60), inset 0 0 1px 1px var(--text-gray-60);
		border: 4px solid transparent;
		background: none;
		border-radius: 10px;
		opacity: 0.5;
		&:hover {
			box-shadow: 0 0 1px 1px var(--primary-yellow-20), inset 0 0 1px 1px var(--primary-yellow-20);
		}
	}
	&-next {
		order: 99;
		background: url("data:image/svg+xml,%3Csvg width='6' height='8' viewBox='0 0 6 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.43417 6.82502L4.94067 4.44306C5.3181 4.08439 5.3181 3.50499 4.94067 3.14632L2.43417 0.764358C1.82448 0.194159 0.779297 0.598817 0.779297 1.41733L0.779297 6.17205C0.779297 6.99976 1.82448 7.40442 2.43417 6.82502Z' fill='%23676767'/%3E%3C/svg%3E%0A")
			center no-repeat;
	}
	&-dots {
		order: 98;
		display: flex;
		align-items: center;
		justify-content: center;
		list-style: none;
		button {
			width: 10px;
			height: 10px;
			border-radius: 100px;
			background: var(--text-gray-60);
			margin: 0 5px;
			display: block;
			font-size: 0;
			color: transparent;
			overflow: hidden;
			border: none;
			&:hover {
				opacity: 0.5;
			}
		}
		.slick-active button {
			width: 20px;
			background: var(--primary-yellow);
		}
	}
	&-prev {
		order: 97;
		background: url("data:image/svg+xml,%3Csvg width='6' height='8' viewBox='0 0 6 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.56583 0.770678L1.05933 3.15264C0.681901 3.51131 0.681901 4.09071 1.05933 4.44938L3.56583 6.83134C4.17552 7.40154 5.2207 6.99689 5.2207 6.17837L5.2207 1.42365C5.2207 0.59594 4.17552 0.191282 3.56583 0.770678Z' fill='%23676767'/%3E%3C/svg%3E%0A")
			center no-repeat;
	}
}
// slick
// pagination
.pagination {
	display: inline-flex;
	align-items: center;
	padding: 12px 16px;
	border: 1px solid var(--text-gray-80);
	border-radius: 12px;
	list-style-type: none;

	a {
		display: flex;
		justify-content: center;
		align-items: center;
		min-width: 13px;
		margin: 0 8px;
		color: var(--text-gray-80);
		font-size: 12px;
		font-weight: 500;
		svg {
			transition: 0.5s;
		}
		&:hover,
		&.active {
			color: #fff;
			svg {
				fill: #fff;
			}
		}
	}
}
// pagination

@media screen and (max-width: 1200px) {
	.center {
		padding-left: calc(50vw - 360px);
		padding-right: calc(50vw - 360px);
	}
	.sidebar {
		margin-right: 10px;
	}
}

@media screen and (max-width: 768px) {
	.center {
		padding-left: calc(50vw - 250px);
		padding-right: calc(50vw - 250px);
	}
	.sidebar {
		position: relative;
		width: 100%;
		padding-bottom: 15px;
		z-index: 15;
		margin-top: 30px;
		&__nav {
			position: absolute;
			top: 100%;
			z-index: 99;
			left: 0;
			right: 0;
			background: var(--ui-gray-linear-40);
			background-blend-mode: overlay, overlay;
			width: 100%;
			max-width: 350px;
			border-radius: 20px;
			box-shadow: var(--shadow-yellow);
			transform: scale(1, 0);
			transform-origin: 50% 0;
			transition: 0.5s;
			pointer-events: none;
			li {
				max-width: 300px;
				margin: 0 auto;
			}
			&_dropdown {
				display: flex;
				align-items: center;
				border: none;
				background: none;
				text-transform: uppercase;
				font-weight: 500;
				font-size: 18px;
				background: var(--ui-gray-linear-40);
				background-blend-mode: overlay, overlay;
				padding: 20px;
				border-radius: 20px;
				position: relative;
				svg {
					margin-left: 10px;
					transition: 0.5s;
				}
				&.active {
					color: var(--primary-yellow);
					svg {
						transform: scale(1, -1);
						fill: var(--primary-yellow);
					}
				}
			}
			&.active {
				transform: scale(1);
			}
		}
	}
}
@media screen and (max-width: 515px) {
	.center {
		padding-left: calc(50vw - 185px);
		padding-right: calc(50vw - 185px);
	}
}

@media screen and (max-width: 400px) {
	.center {
		padding-left: calc(50vw - 170px);
		padding-right: calc(50vw - 170px);
	}
}

@media screen and (max-width: 355px) {
	.center {
		padding-left: calc(50vw - 150px);
		padding-right: calc(50vw - 150px);
	}
}
