.nav {
  position: fixed;
  top: 0;
  left: -250vw;
  background: var(--secondary-bg);
  z-index: 98;
  transition: 0.5s;
  max-height: 100vh;
  width: 100%;
  max-width: 800px;
  overflow: auto;
  box-shadow: 0px 2px 14px 3px rgba(0, 0, 0, 0.06);
  padding: 110px 70px 70px 124px;
  &::-webkit-scrollbar {
    width: 5px;
  }
  &.active {
    left: 0;
  }
  .nav__toggler {
    margin-bottom: 146px;
  }
  &__toggler {
    display: flex;
    align-items: center;
    border: none;
    background: none;
    margin-right: 60px;
    z-index: 99;
    position: relative;
    &_bars {
      width: 30px;
      height: 17px;
      position: relative;
      pointer-events: none;
      margin-right: 13px;
    }
    &_bar {
      display: block;
      width: 30px;
      height: 3px;
      position: absolute;
      transition: 0.3s;
      background: #1c1d2b;
      &:nth-child(1) {
        top: 0px;
      }
      &:nth-child(2) {
        top: 7px;
      }
      &:nth-child(3) {
        top: 14px;
        max-width: 21px;
      }
    }
    &_text {
      pointer-events: none;
      color: var(--secondary-text);
      font-size: 12px;
      text-transform: uppercase;
    }
    &.active {
      .nav__toggler {
        &_bar {
          max-width: 100% !important;
          top: 50% !important;
          left: 50%;
          transform: translate(-50%, -50%) rotate(225deg);
          &:nth-child(3) {
            transform: translate(-50%, -50%) rotate(-225deg);
          }
        }
      }
    }
  }
  &__main {
    list-style: none;
    margin-bottom: 40px;
    a {
      display: flex;
      align-items: center;
      color: var(--environment-color);
      line-height: 1.9;
      font-size: 22px;
      svg {
        display: block;
        margin-right: 20px;
        stroke: var(--environment-color);
        transition: 0.3s;
      }
      &:hover {
        color: var(--primary-text);
        svg {
          stroke: var(--primary-text);
        }
      }
    }
  }
  &__links {
    list-style: none;
    margin-bottom: 72px;
    a {
      color: var(--environment-color);
      line-height: 1.9;
      font-size: 18px;
      &:hover {
        color: var(--primary-text);
      }
    }
  }
  &__panorama {
    display: flex;
    align-items: center;
    color: var(--secondary-text);
    margin-bottom: 100px;
    svg {
      transition: 0.3s;
      stroke: var(--secondary-text);
      margin-right: 12px;
    }
    &:hover {
      color: var(--primary-text);
      svg {
        stroke: var(--primary-text);
      }
    }
  }
  &__policy_link {
    color: var(--secondary-text);
    font-size: 14px;
    display: block;
  }
}
.overlay {
  &:before {
    width: 100vw;
    height: 100vh;
    background: #1c1d2b;
    opacity: 0.3;
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 95;
  }
}
@media screen and (max-width: 1100px) {
  .nav {
    padding: 54px 30px 70px 80px;
    max-width: 600px;
    .nav {
      &__toggler {
        margin-bottom: 45px;
      }
    }

    &__links {
      margin-bottom: 20px;
    }
    &__panorama {
      margin-bottom: 30px;
    }
    &__main {
      margin-bottom: 20px;
      a {
        line-height: 1.15;
        margin-bottom: 10px;
      }
    }
  }
}
