.offer {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		padding-bottom: 54px;
		background: url("../img/bg1.png") top center no-repeat;
		padding-top: 149px;
	&_pic {
		display: block;
		position: relative;
		&:before {
			content: "";
			width: 28px;
			height: 40px;
			position: absolute;
			left: 30px;
			bottom: 20px;
			background: url("../img/t_slider.svg");
		}
	}
	&_title {
		color: #181D24;
		font-size: 30px;
		font-family: "Philosopher", sans-serif;
		font-weight: 400;
		margin-top: 26px;
		h1{
			font-size: 120px;
			text-transform: uppercase;
			margin: 0;
		}
		h2 {
			margin: 0;
		}
	}
	&_prev {
		max-width: 483px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	
	}
	&_desc {
		color: #181D24;
		font-size: 16px;
		line-height: 145%;
		max-width: 483px;
		margin-top: 26px;
		margin-bottom: 15px;
	}
}
.quote {
	background: url("../img/bg2.svg") no-repeat;
	margin-top: 119px;
	padding-top: 250px;
	padding-bottom: 54px;
	&_text {
		font-family: "Philosopher", sans-serif;
		font-size: 28px;
		color: #181D24;
		text-transform: uppercase;
		line-height: 145%;
		max-width: 1000px;
		position: relative;
		margin-bottom: 84px;
		margin-left: auto;
		&:after, &:before {
			background: #B0855F;
			width: 100px;
			height: 1px;
			display: block;
			content: "";
			position: absolute;
			left: 0;
			top: 100%;
			transform: translate(0,12px);

		}
		&:after {
			transform: translate(0,22px);
			width: 60px;
		}
		.gold_text {
			color: #B0855F;
		}
		&_decor {
			color: #B0855F;
			font-size: 120px;
			top: -20px;
			position: absolute;
		}
	}
	&_author {
		display: flex;
		justify-content: flex-end;
		&_main {
			margin-top: 160px;
			margin-right: 62px;
		}
		&_name {
			color: #B0855F;
			font-size: 24px;
			font-family: "Philosopher", sans-serif;
			margin-bottom: 10px;
		}
		&_position {
			color: #181D24;
			font-size: 16px;
		}
	}
}
.about {
	background: #181D24;
	padding-top: 204px;
	padding-bottom: 393px;
	&_main {
		display: flex;
		justify-content: space-between;
		position: relative;
		.btn_arrow {
			color: #F5EAE5;
			position: absolute;
			left: 0;
			bottom:0 ;
		}
	}
	&_title {
		font-size: 60px;
		font-family: "Philosopher", sans-serif;
		color: #F5EAE5;
		position: relative;
		margin-bottom: 70px;
		&:after, &:before {
			background: #B0855F;
			width: 60px;
			height: 1px;
			display: block;
			content: "";
			position: absolute;
			left: 0;
			bottom: 100%;
			transform: translate(0,-22px);

		}
		&:after {
			transform: translate(0,-12px);
			width: 100px;
		}
	}
	&_photo {
		margin-bottom: 23px;
		display: block;
	}
	&_desc {
		max-width: 490px;
		&_text {
			font-size: 16px;
			color: #F5EAE5;
			line-height: 145%;
			margin-bottom: 35px;
		}
		&_position {
			font-size: 16px;
			color: #F5EAE5;
			margin-bottom: 10px;
			text-align: right;
		}
		&_name {
			font-size: 16px;
			color: #B0855F;
			text-align: right;
		}
	}
	&_slider {
		max-width: 1037px;
		position: relative;
		&_photo {
			margin-bottom: 34px;
			display: block;
			position: relative;
			height: 572px;
			&:before {
				content: "";
				width: 28px;
				height: 40px;
				position: absolute;
				left: 30px;
				bottom: 20px;
				background: url("../img/t_slider.svg");
			}
		}
		&_title {
			font-size: 16px;
			color: #F5EAE5;
			margin-bottom: 30px;
			text-align: left;
		}
		&_text {
			font-size: 16px;
			color: #F5EAE5;
			line-height: 145%;
			text-align: left;
		}
		.slick-arrow {
			order: 99;
			position: absolute;
			display: block;
			width: 32px;
			height: 10px;
			border: none;
			font-size: 0;
			color: transparent;
			overflow: hidden;
			top: 593px;
			z-index: 5;
			&.slick-prev {
				background: url("../img/arrow_slider_l.svg");
				right: 102px;
			}
			&.slick-next {
				background: url("../img/arrow_slider_r.svg");
				right: 0;

			}
		}
	}
}
.pluses {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 83px;
	background: url("../img/image4screen.jpg") no-repeat center;
	&_item {
 		padding: 55px 60px 33px;
 		background: #181D24;
 		border: 1px solid #B0855F;
 		margin-top: -183px;
 		height: 504px;
 		display: flex;
 		flex-direction: column;
 		margin-bottom: 490px;
 		&:hover {
 			background: #B0855F;
 			transition: .3s;
 			.pluses_details{
 				color: #FFFDFA;
 			}
 			.pluses_counter{
 				color: #FFFDFA;
 			}
 		}
	}
	&_counter{
		color: #B0855F;
		font-size: 100px;
		font-family: "Philosopher", sans-serif;
		margin-bottom: auto;
	}
	&_label {
		color: #FFFDFA;
		font-size: 24px;
	}
	&_details {
		color: transparent;
		font-size: 16px;
		line-height: 145%;
		margin-bottom: 68px;
		
	}
}
.location {
	background: #181D24;
	padding-top: 170px;
	padding-bottom: 100px;
	&_title {
		font-size: 60px;
		font-family: "Philosopher", sans-serif;
		color: #F5EAE5;
		position: relative;
		margin-bottom: 70px;
		&:after, &:before {
			background: #B0855F;
			width: 60px;
			height: 1px;
			display: block;
			content: "";
			position: absolute;
			left: 0;
			bottom: 100%;
			transform: translate(0,-22px);

		}
		&:after {
			transform: translate(0,-12px);
			width: 100px;
		}
	}
	&_main {
		display: flex;
		justify-content: space-between;
	}
	&_desc {
		width: 100%;
		max-width: 475px;
	}
	&_info {
		padding: 55px 60px 60px;
		background: #181D24;
		border: 1px solid #B0855F;
		height: 504px;
	}
	&_counter{
		color: #B0855F;
		font-size: 100px;
		font-family: "Philosopher", sans-serif;
	}
	&_details {
		color: #F5EAE5;
		font-size: 24px;
		margin-bottom: 173px;
		
	}
	&_label {
		color: #FFFDFA;
		font-size: 52px;
		font-family: "Philosopher", sans-serif;
		color: #B0855F;
	}
	&_slider {
		width: 100%;
		max-width: 1032px;
		position: relative;
		.slick-arrow {
			order: 99;
			position: absolute;
			display: block;
			width: 32px;
			height: 10px;
			border: none;
			font-size: 0;
			color: transparent;
			overflow: hidden;
			top: 593px;
			z-index: 5;
			&.slick-prev {
				background: url("../img/arrow_slider_l.svg");
				right: 102px;
			}
			&.slick-next {
				background: url("../img/arrow_slider_r.svg");
				right: 0;

			}
		}
		&_photo {
			margin-bottom: 34px;
			display: block;
			position: relative;
			height: 572px;
			&:before {
				content: "";
				width: 28px;
				height: 40px;
				position: absolute;
				left: 30px;
				bottom: 20px;
				background: url("../img/t_slider.svg");
			}
		}
		&_text {
			font-size: 16px;
			color: #F5EAE5;
			line-height: 145%;
			text-align: left;
			padding-right: 180px;
		}
	}
}
.choose {
	padding-top: 170px;
	padding-bottom: 200px;
	&_title {
		font-size: 60px;
		font-family: "Philosopher", sans-serif;
		color: #181D24;
		position: relative;
		margin-bottom: 70px;
		&:after, &:before {
			background: #B0855F;
			width: 60px;
			height: 1px;
			display: block;
			content: "";
			position: absolute;
			left: 0;
			bottom: 100%;
			transform: translate(0,-22px);

		}
		&:after {
			transform: translate(0,-12px);
			width: 100px;
		}
	}
}
.booklet {
	background: url("../img/bg_form.jpg") no-repeat;
	padding-top: 104px;
	padding-bottom: 209px;
	&_main {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&_title {
		font-size: 60px;
		font-family: "Philosopher", sans-serif;
		color: #F5EAE5;
		position: relative;
		margin-bottom: 93px;
		&:after, &:before {
			background: #B0855F;
			width: 60px;
			height: 1px;
			display: block;
			content: "";
			position: absolute;
			left: 0;
			bottom: 100%;
			transform: translate(0,-22px);

		}
		&:after {
			transform: translate(0,-12px);
			width: 100px;
		}
	}
	&_info {
		font-size: 18px;
		line-height: 25px;
		color: #F5EAE5;
		max-width: 550px;
		margin-bottom: 30px;
	}
	&_form {
		background: rgba(24, 29, 36, 0.6);
		padding: 56px 53px 87px;
		border: 1px solid #B0855F;
		height: 504px;
		width: 846px;
		&_title {
			font-size: 23px;
			color: #F5EAE5;
			margin-bottom: 47px;
		}
		&_field {
			display: block;
			position: relative;
			margin-bottom: 40px;
			&:last-of-type {
				margin-bottom: 13px;
			}
			input {
				background: transparent;
				border: none;
				border-bottom: 1px solid #C0C0C0;
				display: block;
				width: 100%;
				opacity: 50%;
				color: #C0C0C0;
				padding-bottom: 13px;
				&:hover,&:focus {
					opacity: 1;
					& ~ span {
						opacity: 1;
						transform: translate(0,-100%) scale(80%);
					}
				}
			}
			span {
				color:#f5eae5;
				opacity: 50%;
				position: absolute;
				top: 0;
				left: 0;
				transition: 0.5s;
				transform-origin: 0;
				&:after {
					content: "*";
					color: #B0855F;
					opacity: 90%;
				}
			}
		}
		&_text {
			font-size: 11px;
			line-height: 145%;
			color: #F5EAE5;
			margin-bottom: 17px;
		}
		&_policy {
			text-decoration: underline;
			font-size: 11px;
			line-height: 145%;
			color: #F5EAE5;
			&:hover {
				color: #B0855F;
				text-decoration: none;
			}
		}
	}
}
.architecture {
	padding-top: 215px;
	padding-bottom: 209px;
	&_main {
		align-items: center;
		&_text {
			line-height: 145%;
			font-size: 16px;
			color: #181D24;
			margin-bottom: 30px;
			max-width: 856px;
			margin-left: auto;
			margin-right: 184px;
		}
		&_pic {
			margin-bottom: 157px;
			display: block;
			&:before {
				content: "";
				width: 28px;
				height: 40px;
				position: absolute;
				left: 30px;
				bottom: 20px;
				background: url("../img/t_slider.svg");
			}
		}
	}
	&_title {
		font-size: 60px;
		font-family: "Philosopher", sans-serif;
		color: #181D24;
		position: relative;
		margin-bottom: 53px;
		&:after, &:before {
			background: #B0855F;
			width: 60px;
			height: 1px;
			display: block;
			content: "";
			position: absolute;
			left: 0;
			bottom: 100%;
			transform: translate(0,-22px);

		}
		&:after {
			transform: translate(0,-12px);
			width: 100px;
		}
	}
	&_quote {
		&_main {
			font-family: "Philosopher", sans-serif;
			font-size: 28px;
			color: #181D24;
			text-transform: uppercase;
			line-height: 145%;
			max-width: 1280px;
			position: relative;
			margin-bottom: 9px;
			margin-right: auto;
			&:after {
				transform: translate(0,22px);
				width: 60px;
			}
			.gold_text {
				color: #B0855F;
			}
	    }
	    &_desc {
	    	font-size: 16px;
	    	line-height: 145%;
	    	color: #181D24;
	    	max-width: 480px;
	    	width: 100%;
	    	margin-bottom: 100px;
	    	position: relative;
	    	margin-left: 547px;
	    	&:before {
	    		content: "";
	    		position: absolute;
	    		background: #B0855F;
	    		width: 46px;
	    		height: 1px;
	    		top: 10px;
	    		left: -10px;
	    		transform: translate(-100%, 0);
 
	    	}

	    }
	}
	&_grid {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		&_item {
			display: flex;
			&:nth-child(1) {
				align-items: center;
				justify-content: space-between;
				width: 100%;
				margin-bottom: 100px;
			}
			&:nth-child(2) {
				max-width: 780px;
				width: 100%;
				flex-direction: column;
				.architecture_grid_desc {
					margin-bottom: 40px;
				}
				
			}
			&:nth-child(3) {
				max-width: 480px;
				width: 100%;
				right: 0;
				flex-direction: column-reverse;
				.architecture_grid_pic {
					margin-bottom: 40px;
				}
				
			}
		}
		&_text {
 			left: 0;
		}
		&_title {
			font-family: "Philosopher", sans-serif;
			font-size: 28px;
			color: #B0855F;
			line-height: 145%;
			max-width: 430px;
			margin-bottom: 25px;
		}
		&_desc {
			font-size: 16px;
			color:#181D24;
			line-height: 145%;
			width: 100%;
			max-width: 480px;
		}
		&_pic {
			right: 0;
		}
	}
}
.lobby {
	padding-top: 100px;
	&_title {
		font-size: 60px;
		font-family: "Philosopher", sans-serif;
		color: #181D24;
		position: relative;
		margin-bottom: 20px;
		&:after, &:before {
			background: #B0855F;
			width: 60px;
			height: 1px;
			display: block;
			content: "";
			position: absolute;
			left: 0;
			bottom: 100%;
			transform: translate(0,-22px);

		}
		&:after {
			transform: translate(0,-12px);
			width: 100px;
		}
	}
	&_slider {
		display: block;
		&_item {

		}
		&_text {
			line-height: 145%;
			font-size: 16px;
			color: #181D24;
			margin-bottom: 7px;
			max-width: 925px;
			margin-left: auto;
			margin-right: 90px;
		}
		&_pic{
			display: block;
			position: relative;
			&:before {
				content: "";
				width: 28px;
				height: 40px;
				position: absolute;
				left: 30px;
				bottom: 20px;
				background: url("../img/t_slider.svg");
			}
		}
		.slick-arrow {
			order: 99;
			position: absolute;
			display: block;
			width: 32px;
			height: 10px;
			border: none;
			font-size: 0;
			color: transparent;
			overflow: hidden;
			top: 100%;
			z-index: 5;
			transform: translate(0, 100%);
			&.slick-prev {
				background: url("../img/arrow_slider_black_l.svg");
				right: 102px;
			}
			&.slick-next {
				background: url("../img/arrow_slider_black_r.svg");
				right: 0;

			}
		}
	}
}
.engineer {
	padding-top: 175px;
	padding-bottom: 200px;
	&_title {
		font-size: 60px;
		font-family: "Philosopher", sans-serif;
		color: #181D24;
		position: relative;
		margin-bottom: 77px;
		&:after, &:before {
			background: #B0855F;
			width: 60px;
			height: 1px;
			display: block;
			content: "";
			position: absolute;
			left: 0;
			bottom: 100%;
			transform: translate(0,-22px);

		}
		&:after {
			transform: translate(0,-12px);
			width: 100px;
		}
	}
	&_main {
		display: flex;
		&_pic {
			width: 100%;
			max-width: 483px;
		}
	}
	&_text {
		margin-left: 70px;
		width: 100%;
		margin-top: 45px;
		&_title {
			font-size: 28px;
			color: #181D24;
			text-transform: uppercase;
			margin-bottom: 25px;
			font-family: "Philosopher", sans-serif;
			span {
				color: #B0855F;
			}
		}
	}
	&_desc {
		color: #181D24;
		font-size: 16px;
		margin-bottom: 18px;
		line-height: 145%;
		&_pic {
			float: right;
			display: block;
			margin-left: 100px;
		}
		p {
			max-width: 840px;
		}
	}
	&_list {
		font-size: 16px;
		line-height: 145%;
		color: #181D24;
		list-style: none;
		margin-top: 18px;
		li {
			position: relative;
			padding-left: 27px;
			margin-bottom: 10px;
			&:before {
				position: absolute;
				top: 0;
				left: 0;
				content: "";
				width: 18px;
				height: 16px;
				background: url("../img/check.svg") no-repeat;
			}
		}
	}
}
.condition {
	margin-bottom: 200px;
	&_main {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 70px;
	}
	&_title {
		font-size: 60px;
		font-family: "Philosopher", sans-serif;
		color: #181D24;
		position: relative;
		margin-bottom: 70px;
		&:after, &:before {
			background: #B0855F;
			width: 60px;
			height: 1px;
			display: block;
			content: "";
			position: absolute;
			left: 0;
			bottom: 100%;
			transform: translate(0,-22px);

		}
		&:after {
			transform: translate(0,-12px);
			width: 100px;
		}
	}
		&_item {
	 		padding: 55px 60px 33px;
	 		background: #181D24;
	 		border: 1px solid #B0855F;
	 		height: 504px;
	 		display: flex;
	 		flex-direction: column;
	 		position: relative;
	 		&:hover {
	 			background: #B0855F;
	 			transition: .3s;
	 			.condition_desc{
	 				color: #FFFDFA;
	 			}
	 			.condition_info{
	 				color: #FFFDFA;
	 			}
	 			.btn_arrow {
	 				display: flex;
	 				color: #FFFDFA;
	 				svg path{
	 					fill: #FFFDFA;
	 				}
	 			}
	 			.condition_label {
	 				display: none;
	 			}
	 		}
		}
		&_info {
			color: #B0855F;
			font-size: 42px;
			font-family: "Philosopher", sans-serif;
			margin-bottom: auto;
		}
		&_desc {
			color: transparent;
			font-size: 20px;
			line-height: 145%;
			margin-bottom: 61px;
			
		}
		.btn_arrow {
			display: none;
		}
		&_label {
			color: #FFFDFA;
			font-size: 20px;
		}
}
.gallery {
	margin-bottom: 200px;
	&_title {
		font-size: 60px;
		font-family: "Philosopher", sans-serif;
		color: #181D24;
		position: relative;
		margin-bottom: 70px;
		&:after, &:before {
			background: #B0855F;
			width: 60px;
			height: 1px;
			display: block;
			content: "";
			position: absolute;
			left: 0;
			bottom: 100%;
			transform: translate(0,-22px);

		}
		&:after {
			transform: translate(0,-12px);
			width: 100px;
		}
	}
	&_slider {
		display: block;
		&_item {

		}
		&_pic{
			display: block;
			position: relative;
			&:before {
				content: "";
				width: 28px;
				height: 40px;
				position: absolute;
				left: 30px;
				bottom: 20px;
				background: url("../img/t_slider.svg");
			}
		}
		.slick-arrow {
			order: 99;
			position: absolute;
			display: block;
			width: 32px;
			height: 10px;
			border: none;
			font-size: 0;
			color: transparent;
			overflow: hidden;
			top: 100%;
			z-index: 5;
			transform: translate(0, 100%);
			&.slick-prev {
				background: url("../img/arrow_slider_black_l.svg");
				right: 102px;
			}
			&.slick-next {
				background: url("../img/arrow_slider_black_r.svg");
				right: 0;

			}
		}
	}
}