// modals
.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	width: 100%;
	height: 100%;
	z-index: 99;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 99;
	padding: 20px;
	overflow: auto;
	display: flex;
	&.active {
		transform: translate(-50%, -50%) scale(1);
		.modal_content {
			transform: scale(1);
		}
	}

}
.modal_content {
	width: 90%;
	max-width: 400px;
	background: var(--ui-gray-100);
	z-index: 100;
	padding: 40px;
	font-size: 14px;
	filter: var(--filter-shadow);
	border-radius: 20px;
	transform: scale(0);
	transition: 0.5s;
	margin: auto;
	border: 1px solid #000;
	.notify {
		&_heading {
			font-size: 16px;
			margin-bottom: 9px;
		}
		&_text {
			color: var(--text-gray-60);
		}
	}
}
.overlay {
	overflow: hidden;
}
.close {
	position: absolute;
	top: 24px;
	right: 24px;
	width: 15px;
	height: 15px;
	border: none;
	cursor: pointer;
	background: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.6919 3.30806C11.936 3.55214 11.936 3.94786 11.6919 4.19194L4.19194 11.6919C3.94786 11.936 3.55214 11.936 3.30806 11.6919C3.06398 11.4479 3.06398 11.0521 3.30806 10.8081L10.8081 3.30806C11.0521 3.06398 11.4479 3.06398 11.6919 3.30806Z' fill='%238E8E8E'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.30806 3.30806C3.55214 3.06398 3.94786 3.06398 4.19194 3.30806L11.6919 10.8081C11.936 11.0521 11.936 11.4479 11.6919 11.6919C11.4479 11.936 11.0521 11.936 10.8081 11.6919L3.30806 4.19194C3.06398 3.94786 3.06398 3.55214 3.30806 3.30806Z' fill='%238E8E8E'/%3E%3C/svg%3E%0A")
		center no-repeat;
}
.modal_btn {
	* {
		pointer-events: none;
	}
}

@media screen and (max-width: 510px) {
	.wrapper {
		overflow: hidden;
	}
	.modal {
		padding: 10px;
	}
	.modal_content {
		padding: 60px 10px 30px !important;
		max-width: 100% !important;
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
}
// modals
