nav {
  display: flex;
  align-items: center;
  max-width: 494px;
  width: 100%;
}
.nav {
  &__list {
    list-style: none;
    display: flex;
    gap: 54px;
    padding-left: 0;
    margin: 0 auto 0 0;
  }
  &__link {
    font-size: 14px;
    font-weight: 500;
    color: var(--primary-color);
    text-transform: uppercase;
    text-decoration: none;
    &--active {
      color: var(--accent-color);
    }
  }
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    color: var(--primary-color);
    margin-left: 28px;
    padding: 0;
    cursor: pointer;
    &:hover {
      color: var(--accent-color);
    }
  }
}
