.start {
    overflow: hidden;
    padding-bottom: 100px;
    width: 100%;
    &__content {
        width: 100%;
        display: flex;
        align-items: flex-start;
        padding: 40px;
        padding-bottom: 100px;
        position: relative;
        z-index: 5;
        border-radius: 24px;
        &::before {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            background: var(--ui-gray-linear-40);
            background-blend-mode: multiply;
            box-shadow: -35.938px -35.938px 71.8761px #151515, 11.9794px 11.9794px 47.9174px rgba(0, 0, 0, 0.4);

            position: absolute;
            top: 0px;
            left: 0px;
            z-index: 0;
            border-radius: 24px;
        }
        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            background: var(--ui-gray-linear-40);
            background-blend-mode: multiply;

            box-shadow: -35.938px -35.938px 71.8761px #151515, 11.9794px 11.9794px 47.9174px rgba(0, 0, 0, 0.4);
            position: absolute;
            top: 45px;
            left: 45px;
            z-index: -1;
            border-radius: 24px;
        }
    }
    &__sidebar {
        position: relative;
        z-index: 5;
        width: 0;
        min-width: 314px;
        margin-right: 64px;
        &_title {
            text-transform: uppercase;
            background: var(--text-gray-gradient);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-bottom: 44px;
            font-size: 24px;
            span {
                font-weight: 400;
            }
        }
        &_subtitle {
            font-size: 24px;
            line-height: 1.5;
            margin-bottom: 44px;
            color: #fff;
            font-weight: 400;
        }
        &_nav {
            list-style-type: none;
            a {
                display: flex;
                align-items: center;
                margin-bottom: 32px;
                &:hover {
                    opacity: 0.5;
                }
            }
            &-icon {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 12px;
                border-radius: 20px;
                min-width: 56px;
                width: 0;
                height: 56px;
                background: var(--ui-gray-linear-30);
                background-blend-mode: multiply;
                border: 1px solid rgba(0, 0, 0, 0.5);
                filter: var(--filter-shadow);
                margin-right: 16px;
                position: relative;
                &::before {
                    content: "";
                    display: block;
                    width: 14px;
                    height: 14px;
                    border-radius: 50%;
                    position: absolute;
                    top: 5px;
                    right: -2px;
                    background: var(--primary-yellow);
                    box-shadow: var(--shadow-yellow);
                    transition: 0.4s;
                    opacity: 0;
                }
            }
            &-info {
                width: 100%;
                svg {
                    min-width: 24px;
                }
            }
            &-title {
                display: block;
                color: var(--text-gray-60);
                font-size: 14px;
                font-weight: 500;
                margin-bottom: 10px;
            }
            &-desc {
                display: block;
                color: var(--text-gray-60);
                font-size: 12px;
            }

            .active {
                .start__sidebar_nav {
                    &-icon {
                        &:before {
                            opacity: 1;
                        }
                    }
                    &-title {
                        color: var(--text-white);
                    }
                }
                svg {
                    fill: var(--primary-yellow);
                }
            }
        }
        &_image {
            width: 100%;
            border-radius: 16px;
        }
        &_summary {
            background: var(--ui-gray-linear-40);
            background-blend-mode: multiply;
            padding: 20px 32px 24px;
            border: 2px solid #000;
            border-radius: 20px;
            box-shadow: var(--shadow-dark);
            margin-bottom: 32px;
            &_user {
                display: flex;
                align-items: center;
                padding-bottom: 19px;
                border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                &-avatar {
                    display: block;
                    width: 0;
                    min-width: 64px;
                    height: 64px;
                    border-radius: 50%;
                    overflow: hidden;
                    grid-row: 1 / 3;
                    margin-right: 14px;
                    img {
                        width: 100%;
                        height: 100%;
                        max-width: unset;
                        object-fit: cover;
                    }
                }
                &-name {
                    font-size: 14px;
                    font-weight: 500;
                    color: #fff;
                }
                &-email {
                    font-size: 14px;
                    color: var(--text-gray-80);
                }
            }
            &-row {
                padding: 12px 0;
                border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 12px;
                &:last-of-type {
                    border-bottom: none;
                    margin-bottom: 12px;
                }
            }
            &-title {
                color: var(--text-gray-60);
            }
            &-value {
                color: #fff;
                font-weight: 500;
                &--accent {
                    color: var(--primary-yellow);
                }
            }
            .btn {
                display: inline-flex;
                border-radius: 16px;
                min-height: 36px;
                padding: 10px 18px;
                font-size: 14px;
                box-shadow: var(--shadow-yellow);
                &:hover {
                    background: var(--primary-yellow-20);
                }
            }
        }
    }
    &__main {
        position: relative;
        z-index: 5;
        width: 100%;
        &_title {
            text-transform: uppercase;
            background: var(--text-gray-gradient);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 18px;
            padding-top: 15px;
            padding-bottom: 20px;
            border-bottom: 1px solid var(--ui-gray-80);
            margin-bottom: 28px;
            span {
                font-weight: 400;
            }
        }
        &_desc {
            font-size: 14px;
            line-height: 1.5;
            color: var(--text-gray-60);
            max-width: 526px;
            margin-bottom: 27px;
        }
        &_form {
            display: grid;
            grid-template-columns: 1.5fr 1fr;
            grid-gap: 14px;
            margin-bottom: 57px;
            .input {
                grid-row: 1 / 3;
                grid-column: -1 / -2;
            }
        }
        &_subtitle {
            font-size: 18px;
            margin-bottom: 12px;
        }
        &_strategy {
            &_list {
                list-style: none;
                counter-reset: strategyCounter;
                margin-bottom: 44px;
                li {
                    position: relative;
                    &::before {
                        counter-increment: strategyCounter;
                        content: counter(strategyCounter);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: absolute;
                        top: 21px;
                        left: 21px;
                        width: 24px;
                        height: 24px;
                        background: var(--ui-gray-gradient);
                        border-radius: 10px;
                        color: var(--bg-dark);
                        font-size: 14px;
                        font-weight: 500;
                    }
                }
                .strategy_radio {
                    padding: 20px 24px 22px 57px;
                    border: 2px solid var(--ui-input);
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-radius: 20px;
                    cursor: pointer;
                    margin-bottom: 16px;
                    transition: 0.3s;
                    &_main {
                        display: block;
                    }
                    &_title {
                        text-transform: uppercase;
                        font-size: 14px;
                        display: block;
                        background: var(--text-gray-gradient);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        margin-bottom: 4px;
                    }
                    &_percent {
                        font-size: 14px;
                        font-weight: 500;
                        color: var(--text-gray-80);
                        span {
                            color: var(--text-white);
                        }
                    }
                    &_info {
                        display: block;
                    }
                    &_back {
                        color: var(--text-gray-60);
                        font-size: 8px;
                        display: block;
                        margin-bottom: 2px;
                    }
                    &_minmax {
                        display: block;
                        font-size: 10px;
                        background: var(--text-gray-gradient);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        margin-bottom: 2px;
                        span {
                            -webkit-text-fill-color: var(--primary-yellow);
                        }
                    }
                    &_return {
                        font-size: 10px;
                        color: var(--text-white);
                        span {
                            background: var(--text-gray-gradient);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                        }
                    }
                    &_summary {
                        display: flex;
                        font-size: 10px;
                        align-items: center;
                    }
                    &_total {
                        color: var(--text-gray-60);
                        margin-right: 16px;
                        text-align: right;
                        &--arbitrage {
                            text-align: left;
                        }
                        span {
                            display: block;
                        }
                        &_all {
                            margin-top: 12px;
                            font-size: 10px;
                            span {
                                display: inline-block;
                                color: var(--text-gray-60) !important;
                                margin-right: 5px;
                                &:last-of-type {
                                    margin-left: 10px;
                                }
                            }
                        }
                    }
                    &_summ {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 144px;
                        height: 36px;
                        border-radius: 16px;
                        border: 1px solid rgba(256, 256, 256, 0.5);

                        font-size: 14px;
                        font-weight: 500;
                        &-number {
                            background: var(--text-gray-gradient);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            display: inline-block;
                        }
                    }
                    &_after {
                        color: var(--primary-yellow) !important;
                    }
                }
                input:checked + .strategy_radio {
                    background: var(--ui-gray-linear-40);
                    background-blend-mode: multiply;
                    border-color: #000;
                    // box-shadow: var(--shadow-primary);

                    box-shadow: var(--shadow-dark);
                    &:before {
                        content: "";
                        position: absolute;
                        top: 21px;
                        left: 21px;
                        width: 24px;
                        height: 24px;
                        background: url("data:image/svg+xml,%3Csvg width='16' height='11' viewBox='0 0 16 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.2559 0.41107C15.5814 0.736507 15.5814 1.26414 15.2559 1.58958L6.08926 10.7562C5.76382 11.0817 5.23618 11.0817 4.91074 10.7562L0.744078 6.58958C0.418641 6.26414 0.418641 5.73651 0.744078 5.41107C1.06951 5.08563 1.59715 5.08563 1.92259 5.41107L5.5 8.98848L14.0774 0.41107C14.4028 0.0856329 14.9305 0.0856329 15.2559 0.41107Z' fill='%23202020'/%3E%3C/svg%3E%0A")
                            center no-repeat var(--primary-yellow);
                        border-radius: 10px;
                        z-index: 5;
                    }
                    .strategy_radio {
                        &_summ {
                            background: var(--primary-yellow);
                            border-color: var(--primary-yellow-20);
                            box-shadow: var(--shadow-yellow);
                            &-number {
                                -webkit-text-fill-color: var(--text-gray);
                            }
                        }
                        &_total {
                            color: var(--primary-yellow);
                            span {
                                color: var(--text-white);
                            }
                            &_row {
                                display: flex;
                                color: var(--text-gray-80);
                                margin-top: 10px;
                                span {
                                    margin-left: 5px;
                                    &:not(:last-of-type) {
                                        margin-right: 10px;
                                    }
                                }
                            }
                            &--market {
                                text-align: left;
                            }
                        }
                    }
                }
            }
        }
    }
    &__decor {
        position: absolute;
        top: 168px;
        left: 100%;
        transform: translate(-180px, 0);
        background: url("../img/start_decor.png") center no-repeat;
        width: 553px;
        height: 461px;
        z-index: -1;
    }

    @media screen and (max-width: 1200px) {
        &__content {
            flex-direction: column;
            align-items: flex-start;
        }
        &__sidebar {
            margin-bottom: 50px;
            margin-right: 0;
            width: 100%;
            &_image {
                display: none;
            }
        }
    }
    @media screen and (max-width: 768px) {
        margin-top: 30px;
        &__content {
            padding: 20px;
        }
        &__main_form {
            grid-template-columns: 1fr;

            .input {
                grid-row: unset;
                grid-column: unset;
            }
        }
        &__sidebar {
            min-width: 0;
            width: 100%;
            margin-right: 0;
        }
        .strategy_radio {
            flex-wrap: wrap;
            &_main,
            &_info,
            &_summary {
                width: 100%;
                margin: 10px 0;
            }
            &_main {
                margin-top: 0;
            }
            &_summary {
                margin-bottom: 0;
                flex-direction: column;
                align-items: flex-start;
            }
            &_total {
                margin-right: 0;
                margin-bottom: 10px;
                text-align: left;
                &_all {
                    span {
                        display: block;
                        margin: 5px 0 !important;
                    }
                }
            }
            &_summ {
                margin: 0 auto;
            }
            &_after {
                display: block;
            }
        }
    }
}

.select {
    position: relative;

    &__selected {
        position: relative;
        width: 100%;
        border-radius: 20px;
        box-shadow: var(--shadow-dark);
        border: 2px solid #2b2b2b;
        border-radius: 20px;
        transition: 0.3s;
        &:hover {
            background: var(--ui-gray-100);
        }
    }
    &__item {
        display: flex;
        align-items: center;
        text-align: left;
        background: transparent;
        border: none;
        width: 100%;
        border-radius: 20px;
        transition: 0.5s;
        padding: 20px 24px;
        padding-right: 90px;
        &__name {
            font-weight: 400;
            color: var(--text-white);
            font-size: 14px;
            line-height: 1.4;
            width: 100%;
            white-space: nowrap;
            text-overflow: ellipsis;
            display: block;
            overflow: hidden;
            margin-right: 20px;
            text-align: left;
            pointer-events: none;
        }
        &__icon {
            min-width: 36px;
            height: 32px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 9px;
            pointer-events: none;
        }
        &__info {
            margin-right: 15px;
        }
        &__summ {
            margin-left: auto;
            display: block;
            text-transform: uppercase;
            background: var(--text-gray-gradient);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 12px;
        }
        &__title {
            text-transform: uppercase;
            color: var(--primary-yellow);
            margin-bottom: 5px;
            display: block;
            font-size: 10px;
        }
    }
    &__list {
        background: var(--ui-gray-linear-30);
        background-blend-mode: multiply;
        width: 100vw;
        max-width: 633px;
        position: absolute;
        top: 100%;
        left: 0;
        padding: 20px 20px 30px;
        box-shadow: var(--shadow-dark);
        border-radius: 20px;
        transition: 0.5s;
        opacity: 0;
        pointer-events: none;
        z-index: 65;
        border: 2px solid #2b2b2b;
        &_search {
            width: 100%;
            max-width: 566px;
            display: block;
            border: none;
            background: #202020;
            border-radius: 8px;
            font-size: 12px;
            line-height: 1.75;
            color: #fff;
            padding: 7px 15px;
            margin-bottom: 24px;
        }
        .select {
            &__item {
                border-bottom: 1px solid #3b3b3b;
                border-radius: 0;
                padding: 0 0 8px;
                font-size: 14px;
                &__icon {
                    min-width: 18px;
                    width: 0;
                    height: 16px;
                }
            }
        }
        &_content {
            max-height: 165px;
            overflow: auto;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 8px 32px;
            padding-right: 32px;
            &::-webkit-scrollbar-track {
                box-shadow: unset;
                border-radius: 10px;
                background: #676767;
            }

            &::-webkit-scrollbar {
                width: 4px;
                background: #676767;
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 100px;
                box-shadow: unset;
                background-color: var(--primary-yellow);
            }
        }
    }
    &__arrow {
        position: absolute;
        top: 50%;
        right: 8px;
        transform: translate(0, -50%);
        display: block;
        width: 56px;
        height: 56px;
        background: url("data:image/svg+xml,%3Csvg width='13' height='8' viewBox='0 0 13 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.914173 2.97877L5.2017 7.49047C5.84732 8.16984 6.89023 8.16984 7.53584 7.49047L11.8234 2.97877C12.8497 1.88133 12.1213 -7.84771e-09 10.648 -7.15915e-08L2.08952 -4.41879e-07C0.599645 -5.06339e-07 -0.128739 1.88133 0.914173 2.97877Z' fill='%23676767'/%3E%3C/svg%3E%0A")
            center no-repeat;
        transition: 0.5s;
        pointer-events: none;
        border-radius: 14px;
        border: 2px solid #2b2b2b;
        pointer-events: none;
    }
    &.active {
        .select {
            &__list {
                transform: translate(0, 10px);
                opacity: 1;
                pointer-events: unset;
            }
            &__arrow {
                transform: translate(0, -50%) rotate(180deg);
            }
        }
    }

    &--small {
        padding-top: 20px;
        .select {
            &__selected > .select__item {
                padding: 12px 50px 12px 20px;
            }
            &__arrow {
                width: 32px;
                height: 32px;
                background-size: 8px;
            }
            &__list {
                left: unset;
                right: 0;
                max-width: 100%;
                &_content {
                    grid-template-columns: 1fr;
                }
            }
        }
        &_title {
            display: block;
            padding-left: 20px;
            margin-bottom: 15px;
            font-size: 10px;
            color: var(--primary-yellow);
            text-transform: uppercase;
            letter-spacing: 2px;
        }
    }

    .not_results {
        grid-column: 1 / -1;
        font-size: 12px;
    }

    @media screen and (max-width: 520px) {
        &__item {
            padding: 20px 65px 20px 15px;
        }
        &__arrow {
            width: 40px;
            height: 40px;
        }
        &__list {
            max-width: 100%;
            &_content {
                padding-right: 5px;
                grid-template-columns: 1fr;
            }
        }
    }
}

.input {
    position: relative;
    width: 100%;
    border-radius: 20px;
    box-shadow: var(--shadow-dark);
    border: 2px solid #2b2b2b;
    display: flex;
    align-items: center;
    padding: 18px 24px;
    margin-bottom: 45px;
    &__icon {
        min-width: 36px;
        height: 32px;
        width: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 16px 16px 4px 16px;
        background: var(--ui-gray-linear-40);
        background-blend-mode: multiply;
        margin-right: 16px;
    }
    &__info {
        display: block;
        width: 100%;
        &-label {
            text-transform: uppercase;
            color: var(--primary-yellow);
            display: block;
            margin-bottom: 6px;
            font-size: 10px;
        }
        &-input {
            background: none;
            border: none;
            font-size: 14px;
            width: 100%;
        }
        &-currency {
            color: var(--text-gray-60);
            font-size: 14px;
            font-weight: 500;
        }
    }

    &__min,
    &__max {
        font-size: 12px;
        color: var(--text-gray-60);
        position: absolute;
        display: block;
        top: calc(100% + 26px);
        left: 20px;
    }
    &__max {
        left: unset;
        right: 20px;
    }
}

.checkbox {
    &__label {
        padding-left: 72px;
        display: block;
        position: relative;
        color: var(--text-gray-60);
        cursor: pointer;
        &:before {
            content: "";
            position: absolute;
            display: block;
            width: 24px;
            height: 24px;
            left: 32px;
            top: 50%;
            transform: translate(0, -50%);
            border-radius: 10px;
            background: var(--primary-yellow) center no-repeat;
        }
    }
    input:checked + .checkbox__label {
        &::before {
            background-image: url("data:image/svg+xml,%3Csvg width='16' height='11' viewBox='0 0 16 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.2559 0.41107C15.5814 0.736507 15.5814 1.26414 15.2559 1.58958L6.08926 10.7562C5.76382 11.0817 5.23618 11.0817 4.91074 10.7562L0.744078 6.58958C0.418641 6.26414 0.418641 5.73651 0.744078 5.41107C1.06951 5.08563 1.59715 5.08563 1.92259 5.41107L5.5 8.98848L14.0774 0.41107C14.4028 0.0856329 14.9305 0.0856329 15.2559 0.41107Z' fill='%23202020'/%3E%3C/svg%3E%0A");
        }
    }
}

.copy_item {
    background: var(--ui-gray-100);
    padding: 17px 20px 17px 25px;
    max-width: 540px;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    border-radius: 20px;
    border: 2px solid #383838;
    &-btn {
        display: flex;
        align-items: center;
        padding: 8px 11px;
        border-radius: 12px;
        margin-left: auto;
        font-weight: 600;
        box-shadow: var(--shadow-yellow);
        font-size: 12px;
        min-height: 34px;
    }
    input {
        display: block;
        max-width: 100%;
        width: auto;
        font-weight: 400;
        font-size: 14px;
        border: none;
        overflow: visible;
        border: none;
        background: none;
        color: rgba(256, 256, 256, 0.5);
        width: 100%;
        &.copy_item-text-100 {
            width: 100%;
        }
    }
    &-content {
        width: 100%;
    }
    &-title {
        color: var(--primary-yellow);
        font-size: 10px;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 8px;
    }
}

.activation {
    &__title {
        text-transform: uppercase;
        background: var(--text-gray-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 12px;
        display: inline-block;
        margin-bottom: 8px;
    }
    &__text {
        color: #fff;
        font-size: 14px;
        span {
            color: var(--primary-yellow);
        }
    }
}
